.chat__main__message(data-message-id="#{message.id}")
  .chat__main__message__name
    = message.user.name
  .chat__main__message--gray
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat__main__message__text
    = message.content
    - if message.image?
      = image_tag  message.image, size: "200x200"