.side-bar
  .side-bar__user-name
    = current_user.name
    .side-bar__user-name__icons
      = link_to "#", class: "side-bar__user-name__icons__new-group" do
        %i.fa.fa-edit
      = link_to edit_user_registration_path(current_user),method: :get, class:"side-bar__user-name__icons__edit-user" do
        %i.fa.fa-cog

  .side-bar__groups
    = link_to "#" do    
      .side-bar__groups__list
        group_1
        .side-bar__groups__list__message
          hello
    = link_to "#" do 
      .side-bar__groups__list
        group_2
        .side-bar__groups__list__message
          goodbye
    = link_to "#" do 
      .side-bar__groups__list
        group_2
        .side-bar__groups__list__message
          goodbye
    = link_to "#" do 
      .side-bar__groups__list
        group_2
        .side-bar__groups__list__message
          goodbye
    