.header
  グループを作成しました


.side-bar
  .side-bar__user-name
    user_1
    .side-bar__user-name__icons
      = link_to "https://www.google.com", class: "side-bar__user-name__icons__new-group" do
        %i.fa.fa-edit
      = link_to "https://www.google.com", class:"side-bar__user-name__icons__edit-user" do
        %i.fa.fa-cog

  .side-bar__groups
    = link_to "messages#index" do    
      .side-bar__groups__list
        group_1
        .side-bar__groups__list__message
          hello
    = link_to "messages#index" do 
      .side-bar__groups__list
        group_2
        .side-bar__groups__list__message
          goodbye
    = link_to "messages#index" do 
      .side-bar__groups__list
        group_2
        .side-bar__groups__list__message
          goodbye
    = link_to "messages#index" do 
      .side-bar__groups__list
        group_2
        .side-bar__groups__list__message
          goodbye
    

.chat


  .chat__current-group
    .chat__current-group__name
      current_group
    = link_to "messages#index",class: "chat__current-group__edit-btn" do
      Edit
    .chat__current-group__member
      Member: user1



  .chat__main
    .chat__main__message
      .chat__main__message__name
        user1
      .chat__main__message--gray
        2019/06/06(Tue) 00:00:00
      .chat__main__message__text
        message


  %form{class: "chat__send-message"}
    .chat__send-message__input
      .chat__send-message__input__box
        %input{placeholder: "type a message",class:"chat__send-message__input__box__text", type: "text"}  
        %label.chat__send-message__input__box__image
          %i.fa.fa-image.fa-1x
          %input.message-image{type: "file"}
      %input.chat__send-message__input__send{type: "submit",value: "Send"}
